.textBox{
    width: 18em;
    background-color: gray;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBoxL{
    order: 1;
}

.textBoxR{
    order: 0;
}

.text{
    font-size: 1em;
}