.section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 3em 18em 2em;
}

.title{
    width: 60%;
    order: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2em;

}
