.partner-separator{
    margin-top: 2vh;
}
.Box {
    display: inline-grid;
}
.card-grid-container{
    margin-bottom: 2vh;
}
.summary-container {
    margin-bottom: 2vh;
    width: 30%;
}
.summary-user-inputs {
    width: 80%;
    display: flex;
}

.summary-company-data {
    display: flex;
}

.add-partner-container {
    margin-bottom: 2vh;
    display: inline-block;

}